{{page-title "Dummy"}}

<h2 id="title">Welcome to Ember</h2>

<div
  {{handsontable
    data=this.data
    config=this.settings
  }}
>
</div>

<div>
  <button {{on "click" this.updateData}}>
    Update data
  </button>
</div>
<br>
<div>
  <button {{on "click" this.toggleVisibility}}>
    Toggle table visibility
  </button>
</div>

visible: {{this.isVisible}}

<div aria-hidden="{{if this.isVisible 'false' 'true'}}">
  <div 
    {{handsontable
      data=this.data
      config=this.settings
      isVisible=this.isVisible
    }}
  >
  </div>
</div>

{{outlet}}
